body.yui-skin-sam
	#goorm(style='display:none;')

	#goormTop.yui-navset
		include goorm/mainmenu
		#goormMainToolbar.mainToolbar(style='float:left;')

	#goormLeft.yui-navset

	#goormCenterInnerLayout.yui-navset
		#goormInnerLayoutRight.yui-navset
		#goormInnerLayoutCenter.yui-navset
		#goormInnerLayoutBottom.yui-navset

	#goormBottom.yui-navset
		div(style='float:left; width:100%')
			#goormStatusbarDeviceType
				div(style='float:left; margin-right:4px;')
					img(src='images/org.goorm.core.layout/device.png')
				.deviceType 

			#goormStatusbargoormVersion
				div(style='float:left; margin-right:4px;')
					img(src='images/org.goorm.core.layout/version.png')
				.goormVersion

			#goormStatusbarBrowserVersion
				div(style='float:left; margin-right:4px;')
					img(src='images/org.goorm.core.layout/browser.png')
				.browserName

			#goormStatusbarCollaboration
				div(style='float:left; margin-right:4px;')
					img(src='images/org.goorm.core.layout/share.png')
				.isCollaborationOn Collaboration Off

			#goormStatusbarChat
				div(style='float:left; margin-right:4px;')
					img(src='images/org.goorm.core.layout/chat.png')
				.isChatOn Chat Off

			div(style='float:right;')
				#goormStatusbarMessage
				#goormLoadingIndicator
					img(src='')
				#goormProgressBar

	#goormMenuContainer
	#goormDialogContainer