<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="google" value="notranslate">
    <title>goormIDE</title>
    <!--appcache-->
    <script type="text/javascript" src="/appcache.js"></script>
    <!--Favicon - Retina Display-->
    <link rel="apple-touch-icon-precomposed" sizes="32x32" href="icon_32x32.ico">
    <link rel="apple-touch-icon-precomposed" sizes="64x64" href="icon_64x64.ico">
    <link rel="icon" sizes="32x32" href="icon_32x32.ico">
    <link rel="icon" sizes="64x64" href="icon_64x64.ico">
    <!--CSS : goorm-->
    <link href="http://fonts.googleapis.com/earlyaccess/nanumgothic.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/css/goorm.css">
    <!--CSS : CodeMirror-->
    <link rel="stylesheet" type="text/css" href="/lib/net.codemirror.code/theme/elegant.css">
    <link rel="stylesheet" type="text/css" href="/lib/net.codemirror.code/addon/hint/show-hint.css">
    <!--CSS : PDF VIEWER-->
    <link rel="stylesheet" type="text/css" href="/lib/com.pdf.viewer/css/style.css">
    <!--JS : jquery-->
    
    <script type="text/javascript" src="/lib/com.jquery.code/jquery-2.0.3.js"></script>
    <script type="text/javascript" src="/lib/com.jqueryui.code/jquery-ui-1.10.3.custom.js"></script>
    <script type="text/javascript" src="/lib/com.jquery.code/jquery.hotkeys.js"></script>
    <script type="text/javascript" src="/lib/com.jquery.code/jquery.form.js"></script>
    <script type="text/javascript" src="/lib/com.jquery.code/jquery.mousewheel.js"></script>
    <script type="text/javascript" src="/lib/com.jquery.code/jquery.fixheadertable.js"></script>
    <!--JS : yui-->
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/yahoo/yahoo.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/event/event.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/dom/dom.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/datasource/datasource-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/yahoo-dom-event/yahoo-dom-event.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/connection/connection-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/dragdrop/dragdrop-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/animation/animation-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/container/container-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/slider/slider-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/element/element-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/colorpicker/colorpicker-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/get/get-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/json/json-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/resize/resize-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/layout/layout-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/button/button-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/tabview/tabview-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/menu/menu.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/autocomplete/autocomplete-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/datatable/datatable-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/editor/editor-min.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/treeview/treeview.js"></script>
    <script type="text/javascript" src="lib/com.yahoo.developer.yui/build/stylesheet/stylesheet-min.js"></script>
    <!--JS : codemirror-->
    <script type="text/javascript" src="/lib/net.codemirror.code/lib/codemirror.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/dialog/dialog.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/edit/closebrackets.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/edit/closetag.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/edit/matchbrackets.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/fold/foldcode.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/fold/brace-fold.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/fold/xml-fold.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/hint/html-hint.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/hint/javascript-hint.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/hint/pig-hint.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/hint/python-hint.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/hint/show-hint.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/hint/xml-hint.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/runmode/runmode.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/search/match-highlighter.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/search/search.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/search/searchcursor.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/selection/active-line.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/comment/comment.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/addon/formatting/formatting.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/clike/clike.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/css/css.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/diff/diff.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/haskell/haskell.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/htmlmixed/htmlmixed.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/htmlembedded/htmlembedded.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/javascript/javascript.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/lua/lua.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/php/php.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/python/python.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/ruby/ruby.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/rst/rst.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/scheme/scheme.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/smalltalk/smalltalk.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/sparql/sparql.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/stex/stex.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/xml/xml.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/mode/yaml/yaml.js"></script>
    <script type="text/javascript" src="/lib/net.codemirror.code/keymap/vim.js"></script>
    <!--JS : tty.js-->
    <script type="text/javascript" src="/lib/js.tty.code/term.js"></script>
    <!--JS : goorm-->
    <script type="text/javascript" src="/modules/org.goorm.core/core.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core/core.browser.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core/core.device.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core/core.fn.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core/core.user.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.layout/layout.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.layout/layout.workspace.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.utility/utility.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.utility/utility.message.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.utility/utility.loading_bar.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.utility/utility.toast.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.utility/utility.sorting.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.debug/debug.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.debug/debug.message.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.terminal/terminal.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.terminal/terminal.message.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.search/search.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.search/search.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.search/search.message.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.window/window.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.window/window.panel.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.window/window.tab.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.window/window.tab.move.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.window/window.manager.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.window/window.manager.transition.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.menu/menu.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.menu/menu.action.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.menu/menu.context.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.toolbar/toolbar.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.edit/edit.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.object/object.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.object/object.manager.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.object/object.explorer.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.object/object.properties.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.object/object.ui.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.object/object.ui.line.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.object/object.ui.square.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.dialog/dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.dialog/dialog.confirmation.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.dialog/dialog.confirmation.save.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.dialog/dialog.alert.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.dialog/dialog.notice.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.dialog/dialog.wizard.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.dialog/dialog.explorer.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.preference/preference.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.preference/preference.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.preference/preference.manager.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.preference/preference.language.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.preference/preference.filetype.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.preference/preference.system.info.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.theme/theme.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.theme/theme.manager.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.theme/theme.details.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.theme/theme.details.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.theme/theme._new.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.theme/theme._new.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.theme/theme._css.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.theme/theme._css.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.theme/theme.area.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.theme/theme.area.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.printer/printer.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.printer/printer.edit.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.printer/printer.design.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.printer/printer.design.preview.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.printer/printer.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.explorer.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project._new.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project._new.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.open.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.open.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.property.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.property.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.property.manager.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project._export.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project._export.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project._import.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project._import.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project._delete.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project._delete.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.build.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.build.manager.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.build.clean.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.build.clean.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.build.configuration.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.build.configuration.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.project/project.list.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._new.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._new.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._new.other.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._new.other.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._new.folder.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._new.folder.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._new.untitled_textfile.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._new.untitled_textfile.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.open.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.open.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.upload.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.upload.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.save_as.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.save_as.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.rename.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.rename.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.move.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.move.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.switch_workspace.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.switch_workspace.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._import.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._import.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._export.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file._export.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.property.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.property.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.open_url.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/file.open_url.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/folder.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/folder.upload.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.file/folder.upload.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.edit/edit.font_manager.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.edit/edit.go_to_line.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.edit/edit.find_and_replace.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.edit/edit.dictionary.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.edit/edit.jump_to_definition.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.edit/edit.find_and_replace.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.help/help.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.help/help.contents.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.shortcut/shortcut.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.shortcut/shortcut.manager.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.help/help.contents.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.help/help.about.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.help/help.about.dialog.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.core.localization/localization.js"></script>
    <script type='text/javascript' src='/modules/org.goorm.core.dialog/dialog.survey.js'></script>

    

    <script type="text/javascript" src="/modules/org.goorm.plugin/plugin.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.plugin/plugin.manager.js"></script>
    <script type="text/javascript" src="/modules/org.goorm.plugin/plugin.loader.js"></script>
    

    

    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <title>goorm</title>
    <script type="text/javascript">
      $(function() {
       if($( document ).tooltip){
        $( document ).tooltip({
         'open' : function( evt, ui ){
          $(ui.tooltip).css('white-space', 'nowrap');
         },
         'content': function () {
              return $(this).prop('title');
         }
        });
       }
      });
      
      

      var goorm_loading_start_time = new Date().getTime();
      var core = new org.goorm.core();
      var m = new org.goorm.core.utility.message();
      var d = new org.goorm.core.debug.message();
      var s = new org.goorm.core.utility.sorting();
      var confirmation = new org.goorm.core.dialog.confirmation();
      var confirmation_save = new org.goorm.core.dialog.confirmation.save();
      var __alert = new org.goorm.core.dialog.alert();
      var notice = new org.goorm.core.dialog.notice();
      var survey = new org.goorm.core.dialog.survey();
      
      $(document).ready(function () {
       //goorm initialize
       $.get('/get_option', function(server_option){
        core.is_optimization = server_option.is_optimization;
        
        
        
        core.init("goorm");
        
        //console.log("initialized!");
        $(core).bind("goorm_load_complete", function () {
         console.log("goormIDE load complete");
        });
       })
      });

            
      
    </script>
  </head>
  <body class="yui-skin-sam">
    <div id="goorm" style="display:none;"></div>
    <div id="goorm_user_box" style="display:none;">
      <div id="goorm_user_image"></div>
      <div id="goorm_user_info">User Name<br>(email)</div>
    </div>
    <div id="goorm_top" style="display:none" class="yui-navset goorm_layout">
        <div id="goorm_mainmenu" class="yuimenubar">
          <div style="margin-left: 10px;" class="bd">
            <ul class="first-of-type">
              <li class="yuimenubaritem first-of-type"><a href="#File" localization_key="file" class="yuimenubaritemlabel">File</a>
                <div id="File" class="yuimenu">
                  <div class="bd">
                    <ul>
                      <li class="yuimenuitem"><a href="#New" localization_key="file_new" class="yuimenuitemlabel menu-new-file">New...</a>
                        <div id="New" class="yuimenu">
                          <div class="bd">
                            <ul class="first-of-type">
                              <li class="yuimenuitem"><a href="#" action="new_project" localization_key="file_new_project" class="yuimenuitemlabel menu-new-project">Project<em class="helptext">Alt + N</em></a></li>
                            </ul>
                            <ul id="plugin_new_project"></ul>
                            <ul>
                              <li class="yuimenuitem"><a href="#" action="new_file_file" localization_key="file_new_file" class="yuimenuitemlabel">File</a></li>
                              <li class="yuimenuitem"><a href="#" action="new_file_folder" localization_key="file_new_folder" class="yuimenuitemlabel">Folder</a></li>
                              <li class="yuimenuitem"><a href="#" action="new_file_textfile" localization_key="file_new_untitled_text_file" class="yuimenuitemlabel">Untitled Text File</a></li>
                            </ul>
                            <ul>
                              <li class="yuimenuitem"><a href="#" action="new_file_other" localization_key="file_new_other" class="yuimenuitemlabel">Other...</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                      <li class="yuimenuitem"><a href="#" action="open_project" localization_key="file_open_project" class="yuimenuitemlabel menu-open-project">Open Project...<em class="helptext">Ctrl + Shift + O</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="open_file" localization_key="file_open_file" class="yuimenuitemlabel menu-open-file">Open File...<em class="helptext">Ctrl + O</em></a></li>
                      <li class="yuimenuitem"><a href="#" localization_key="open_recent_projects" class="yuimenuitemlabel menu-open-recent-project">Open Recent Projects...</a>
                        <div id="open_recent_project_menu" class="yuimenu">
                          <div class="bd">
                            <ul id="open_recent_project_ul" class="first-of-type">
                              <li class="yuimenuitem"><a href="#" action="no_recent_project" localization_key="none" class="yuimenuitemlabel">None</a></li>
                            </ul>
                            <ul id="clear_recent_project_ul"> </ul>
                          </div>
                        </div>
                      </li>
                      <li class="yuimenuitem"><a href="#" localization_key="open_recent_files" class="yuimenuitemlabel menu-open-recent-file">Open Recent Files...</a>
                        <div id="open_recent_file_menu" class="yuimenu">
                          <div class="bd">
                            <ul id="open_recent_file_ul" class="first-of-type">
                              <li class="yuimenuitem"><a href="#" action="no_recent_file" localization_key="none" class="yuimenuitemlabel">None</a></li>
                            </ul>
                            <ul id="clear_recent_file_ul"></ul>
                          </div>
                        </div>
                      </li>
                      <li class="yuimenuitem"><a href="#" action="open_url" localization_key="file_open_url" class="yuimenuitemlabel">Open URL...</a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="close_file" localization_key="file_close" class="yuimenuitemlabel">Close<em class="helptext">Alt + X</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="close_all" localization_key="file_close_all" class="yuimenuitemlabel">Close All<em class="helptext">Alt + Shift + X</em></a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="save_file" localization_key="file_save" class="yuimenuitemlabel menu-save">Save...<em class="helptext">Ctrl + S</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="save_as_file" localization_key="file_save_as" class="yuimenuitemlabel menu-save-as">Save As...<em class="helptext">Ctrl + Shift + S</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="save_all_file" localization_key="file_save_all" class="yuimenuitemlabel">Save All<em class="helptext">Ctrl + Alt + S</em></a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="rename_file" localization_key="file_rename" class="yuimenuitemlabel">Rename<em class="helptext">Ctrl + Shift + R</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="delete_file" localization_key="file_delete" class="yuimenuitemlabel">Delete<em class="helptext">Ctrl + Shift + D</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="refresh_project_directory" localization_key="file_refresh" class="yuimenuitemlabel">Refresh<em class="helptext">Ctrl + R</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="property" localization_key="file_properties" class="yuimenuitemlabel">Properties</a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="print" localization_key="file_print" class="yuimenuitemlabel menu-print">Print<em class="helptext">Ctrl + P</em></a></li>
                    </ul>
                    <ul><!--
                      <li class="yuimenuitem yuimenuitem-disabled"><a href="#" action="" localization_key="file_swich_workspace" class="yuimenuitemlabel yuimenuitemlabel-disabled">Switch workspace</a></li>-->
                      <li class="yuimenuitem"><a href="#" action="refresh_page" localization_key="file_restart" class="yuimenuitemlabel">Restart</a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="import_file" localization_key="file_import" class="yuimenuitemlabel menu-import">Import File</a></li>
                      <li class="yuimenuitem"><a href="#" action="upload_folder" localization_key="folder_upload" class="yuimenuitemlabel menu-import">Upload Folder</a></li>
                      <li class="yuimenuitem"><a href="#" action="export_file" localization_key="file_export" class="yuimenuitemlabel menu-export">Export File</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="yuimenubaritem"><a href="#Edit" localization_key="edit" class="yuimenubaritemlabel">Edit</a>
                <div id="Edit" class="yuimenu">
                  <div class="bd">
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="do_undo" localization_key="edit_undo" class="yuimenuitemlabel menu-undo">Undo<em class="helptext">Ctrl + Z</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="do_redo" localization_key="edit_redo" class="yuimenuitemlabel menu-redo">Redo<em class="helptext">Ctrl + Y</em></a></li>
                    </ul>
                    <ul>
                      <li id="menu_cut" class="yuimenuitem"><a href="#" action="do_cut" localization_key="edit_cut" class="yuimenuitemlabel menu-cut">Cut<em class="helptext">Ctrl + X</em></a></li>
                      <li id="menu_copy" class="yuimenuitem"><a href="#" action="do_copy" localization_key="edit_copy" class="yuimenuitemlabel menu-copy">Copy<em class="helptext">Ctrl + C</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="do_paste" localization_key="edit_paste" class="yuimenuitemlabel menu-paste">Paste<em class="helptext">Ctrl + V</em></a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="do_delete" localization_key="edit_delete" class="yuimenuitemlabel menu-delete">Delete<em class="helptext">Delete</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="select_all" localization_key="edit_select_all" class="yuimenuitemlabel menu-select-all">Select All<em class="helptext">Ctrl + A</em></a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="do_go_to_line" localization_key="edit_go_to_line" class="yuimenuitemlabel">Go to Line<em class="helptext">Ctrl + Shift + L</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="do_find" localization_key="edit_find_and_replace" class="yuimenuitemlabel menu-find-replace">Find/Replace<em class="helptext">Ctrl + F</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="do_find_next" localization_key="edit_find_next" class="yuimenuitemlabel menu-find-next">Find Next<em class="helptext">Ctrl + G</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="do_find_previous" localization_key="edit_find_previous" class="yuimenuitemlabel menu-find-previous">Find Previous<em class="helptext">Ctrl + Shift + G</em></a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="search" localization_key="edit_search" class="yuimenuitemlabel">Search<em class="helptext">Alt + H</em></a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="auto_formatting" localization_key="edit_auto_formatting" class="yuimenuitemlabel menu-auto-formatting">Auto Formatting<em class="helptext">Ctrl + K</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="comment_selected" localization_key="edit_comment_selected" style="" class="yuimenuitemlabel">Comment Selected<em class="helptext">Ctrl + /</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="uncomment_selected" localization_key="edit_uncomment_selected" style="" class="yuimenuitemlabel">Uncomment Selected<em class="helptext">Ctrl + Shift+ /</em></a></li>
                    </ul>
                    
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="preference" localization_key="edit_preference" class="yuimenuitemlabel menu-preference">Preference<em class="helptext">Alt + P</em></a></li>
                    </ul>
                  </div>
                </div>
              </li>
              <li class="yuimenubaritem"><a href="#Project" localization_key="project" class="yuimenubaritemlabel">Project</a>
                <div id="Project" class="yuimenu">
                  <div class="bd">
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="run" localization_key="project_run" class="yuimenuitemlabel menu-run">Run<em class="helptext">Ctrl + F5</em></a></li>
                    
                    </ul>
                    
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="build_project" localization_key="project_build_project" class="yuimenuitemlabel menu-build">Build Project<em class="helptext">F5</em></a></li>
                      <!--<li class="yuimenuitem"><a href="#" action="build_all" localization_key="project_build_all" class="yuimenuitemlabel">Build All</a></li>-->
                      <li class="yuimenuitem"><a href="#" action="build_clean" localization_key="project_clean" class="yuimenuitemlabel menu-clean">Clean<em class="helptext">Ctrl + Del</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="build_configuration" localization_key="project_build_configuration" class="yuimenuitemlabel">Build Configuration</a></li>
                    </ul>
                    
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="import_project" localization_key="project_import" class="yuimenuitemlabel menu-import-project">Import Project</a></li>
                      <li class="yuimenuitem"><a href="#" action="export_project" localization_key="project_export" class="yuimenuitemlabel menu-export-project">Export Project</a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="delete_project" localization_key="project_delete" class="yuimenuitemlabel menu-delete-project">Delete Project</a></li>
                    </ul>
                    
                    <ul>
                      <li class="yuimenuitem"><a id="project_property_open" href="#" action="show_properties" localization_key="project_properties" class="yuimenuitemlabel">Properties</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              
              <li class="yuimenubaritem"><a href="#Debug" localization_key="debug" class="yuimenubaritemlabel">Debug</a>
                <div id="Debug" class="yuimenu">
                  <div class="bd">
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="debug" localization_key="debug_start" class="yuimenuitemlabel menu-debug-start">Debug Start<em class="helptext">F7</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="debug_continue" localization_key="debug_continue" class="yuimenuitemlabel menu-debug-continue debug_not_active">Continue</a></li>
                      <li class="yuimenuitem"><a href="#" action="debug_terminate" localization_key="debug_terminate" class="yuimenuitemlabel menu-debug-terminate debug_not_active">Terminate</a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="debug_step_over" localization_key="debug_step_over" class="yuimenuitemlabel menu-debug-step-over debug_not_active">Step over</a></li>
                      <li class="yuimenuitem"><a href="#" action="debug_step_in" localization_key="debug_step_in" class="yuimenuitemlabel menu-debug-step-in debug_not_active">Step into</a></li>
                      <li class="yuimenuitem"><a href="#" action="debug_step_out" localization_key="debug_step_out" class="yuimenuitemlabel menu-debug-step-out debug_not_active">Step out</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              
              
              <li class="yuimenubaritem"><a href="#window" localization_key="window" class="yuimenubaritemlabel">Window</a>
                <div id="window" class="yuimenu">
                  <div class="bd">
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="new_main_window" localization_key="window_new_main_window" class="yuimenuitemlabel">New Main Window</a></li>
                      
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="previous_window" localization_key="window_previous_window" class="yuimenuitemlabel">Previous Window<em class="helptext">Alt + Shift + [</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="next_window" localization_key="window_next_window" class="yuimenuitemlabel">Next Window<em class="helptext">Alt + Shift + ]</em></a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#submenu_perspectives" action="" localization_key="perspectives" class="yuimenuitemlabel menu-perspectives">Perspectives</a>
                        <div id="submenu_perspectives" class="yuimenu">
                          <div class="bd">
                            <h6 localization_key="window_left_layout" class="first-of-type">Left Layout</h6>
                            <ul class="first-of-type">
                              <li class="yuimenuitem"><a href="#" action="left_layout_toggle" localization_key="window_left_layout_show_hide" class="yuimenuitemlabel menu-toggle-left">Show/Hide<em class="helptext">Alt + Shift + L</em></a></li>
                              <li class="yuimenuitem"><a href="#" action="left_project_explorer_show" localization_key="window_left_layout_toggle_project_explorer" class="yuimenuitemlabel">Show Project Explorer<em class="helptext">Alt + Shift + 1</em></a></li>
                              
                            </ul>
                            <h6 localization_key="window_right_layout">Right Layout</h6>
                            <ul>
                              <li class="yuimenuitem"><a href="#" action="right_layout_toggle" localization_key="window_right_layout_show_hide" class="yuimenuitemlabel menu-toggle-right">Show/Hide<em class="helptext">Alt + Shift + R</em></a></li>
                              
                              <li class="yuimenuitem"><a href="#" action="right_outline_show" localization_key="window_right_layout_toggle_outline" class="yuimenuitemlabel">Show Slide<em class="helptext">Alt + Shift + 6</em></a></li>
                            </ul>
                            <h6 localization_key="window_bottom_layout">Bottom Layout</h6>
                            <ul>
                              <li class="yuimenuitem"><a href="#" action="bottom_layout_toggle" localization_key="window_bottom_layout_show_hide" class="yuimenuitemlabel menu-toggle-bottom">Show/Hide<em class="helptext">Alt + Shift + B</em></a></li>
                              <li class="yuimenuitem"><a href="#" action="bottom_debug_show" localization_key="window_bottom_layout_debug" class="yuimenuitemlabel">Show Debug<em class="helptext">Alt + Shift + 7</em></a></li>
                              <li class="yuimenuitem"><a href="#" action="bottom_console_show" localization_key="window_bottom_layout_console" class="yuimenuitemlabel">Show Terminal<em class="helptext">Alt + Shift + 8</em></a></li>
                              <li class="yuimenuitem"><a href="#" action="bottom_search_show" localization_key="window_bottom_layout_search" class="yuimenuitemlabel">Show Search<em class="helptext">Alt + Shift + 9</em></a></li>
                            </ul>
                            <ul>
                              <li class="yuimenuitem"><a href="#" action="layout_default" localization_key="window_default_layout" class="yuimenuitemlabel">Default Layout</a></li>
                            </ul>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="toggle_full_workspace" localization_key="window_toggle_full_workspace" class="yuimenuitemlabel">Full Workspace<em class="helptext">Alt + Shift + W</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="hide_all_windows" localization_key="window_hide_all_window" class="yuimenuitemlabel">Hide All Window<em class="helptext">Alt + Shift + H</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="show_all_windows" localization_key="window_show_all_window" class="yuimenuitemlabel">Show All Window<em class="helptext">Alt + Shift + S</em></a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="tile_left" localization_key="window_tile_left" class="yuimenuitemlabel menu-tile-left">Tile Left<em class="helptext">Ctrl + Shift + [</em></a></li>
                      <li class="yuimenuitem"><a href="#" action="tile_right" localization_key="window_tile_right" class="yuimenuitemlabel menu-tile-right">Tile Right<em class="helptext">Ctrl + Shift + ]</em></a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="cascade" localization_key="window_cascade" class="yuimenuitemlabel menu-toggle-cascade">Cascade</a></li>
                      <li class="yuimenuitem"><a href="#" action="tile_vertically" localization_key="window_tile_vertically" class="yuimenuitemlabel menu-tile-vertically">Tile Vertically</a></li>
                      <li class="yuimenuitem"><a href="#" action="tile_horizontally" localization_key="window_tile_horizontally" class="yuimenuitemlabel menu-tile-horizontally">Tile Horizontally</a></li>
                    </ul>
                  </div>
                </div>
              </li>
              
              <li class="yuimenubaritem"><a href="#Help" localization_key="help" class="yuimenubaritemlabel">Help</a>
                <div id="Help" class="yuimenu">
                  <div class="bd">
                    <ul id="plugin_new_help">
                      <li class="yuimenuitem"><a href="#" action="help_contents" localization_key="help_help_contents" class="yuimenuitemlabel menu-help-contents">Help Contents</a></li>
                    </ul>
                    <ul>
                      <li class="yuimenuitem"><a href="#" action="help_about" localization_key="help_about_goorm" class="yuimenuitemlabel menu-about">About goorm</a></li>
                      <li class="yuimenuitem"><a href="#" action="help_bug_report" localization_key="help_bug_report" class="yuimenuitemlabel">Send Bug Report</a></li>
                    </ul>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      <div id="goorm_main_toolbar" style="float:left;" class="main_toolbar"></div>
    </div>
    <div id="goorm_left" style="display:none" class="yui-navset goorm_layout"></div>
    <div id="goorm_center_inner_layout" style="display:none" class="yui-navset goorm_layout">
      <div id="goorm_inner_layout_right" class="yui-navset"></div>
      <div id="goorm_inner_layout_center" class="yui-navset"></div>
      <div id="goorm_inner_layout_bottom" class="yui-navset"></div>
    </div>
    <div id="goorm_bottom" style="display:none" class="yui-navset goorm_layout">
      <div style="float:left; width:100%">
        <div id="goorm_statusbar_device_type">
          <div style="float:left; margin-right:4px;">
            <div class="device-icon"></div>
          </div>
          <div class="device_type"> </div>
        </div>
        <div id="goorm_statusbar_goorm_version">
          <div style="float:left; margin-right:4px;">
            <div class="version-icon"></div>
          </div>
          <div class="goorm_version"></div>
        </div>
        <div id="goorm_statusbar_version">
          <div style="float:left; margin-right:4px;">
            <div class="browser-icon"></div>
          </div>
          <div class="browser_name"></div>
        </div>
        <div style="float:right;">
          <div id="goorm_statusbar_message"></div>
          <div id="goorm_loading_indicator"><img src=""></div>
          <div id="goorm_progress_bar"></div>
        </div>
      </div>
    </div>
    <div id="goorm_menu_container"></div>
    <div id="goorm_dialog_container"></div>
    <div id="goorm_template_container" style="display:none;"></div>
  </body>
</html>